<h1>動画一覧</h1>

<!-- 一覧ボタン（記事・動画・クイズ） -->
<div class="mb-4">
  <div class="d-flex gap-2">
    <%= button_to "記事一覧", posts_path, method: :get, class: "btn btn-outline-primary" %>
    <%= button_to "動画一覧", videos_path, method: :get, class: "btn btn-success" %>
    <%= button_to "クイズ一覧", quiz_questions_path, method: :get, class: "btn btn-outline-warning" %>
  </div>
</div>

<!-- 動画カード一覧 -->

<div class="mb-3 d-flex justify-content-between align-items-center">
  <h3>動画一覧</h3>
<div class="row">
  <% @videos.each do |video| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= video.title %></h5>
          <p class="card-text"><%= truncate(video.description, length: 80) %></p>
          <%= link_to "詳細を見る", video_path(video), class: "btn btn-outline-primary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="mt-4 d-flex justify-content-center">
  <%= paginate @videos %>
</div>

