<h1>新しいクイズを作成</h1>
<%= form_with model: @quiz_question, url: admin_quiz_questions_path, local: true do |f| %>

  <div>
    <%= f.label :question, "問題文" %><br>
    <%= f.text_area :question, rows: 5, style: "width: 100%;" %>
  </div>

  <div>
    <%= f.label :option1, "選択肢1" %><br>
    <%= f.text_field :option1, style: "width: 100%;" %>
  </div>

  <div>
    <%= f.label :option2, "選択肢2" %><br>
    <%= f.text_field :option2, style: "width: 100%;" %>
  </div>

  <div>
    <%= f.label :option3, "選択肢3" %><br>
    <%= f.text_field :option3, style: "width: 100%;" %>
  </div>

  <div>
    <%= f.label :option4, "選択肢4" %><br>
    <%= f.text_field :option4, style: "width: 100%;" %>
  </div>

  <div>
    <%= f.label :correct, "正解の番号 (1〜4)" %><br>
    <%= f.number_field :correct, in: 1..4 %>
  </div>

  <div>
    <%= f.submit "作成", class: "btn btn-primary" %>
  </div>
<% end %>


<%= link_to "クイズ一覧に戻る", quiz_questions_path, class: "btn btn-warning" %>