<% if form.object.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(form.object.errors.count, "error") %> 件のエラーがあります:</h2>
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="mb-3">
  <%= form.label :title, "タイトル" %>
  <%= form.text_field :title, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :description, "説明" %>
  <%= form.text_area :description, class: "form-control" %>
</div>

<div class="my-4">
    <%= form.label :写真, class: "form-label" %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>

<%= form.submit "投稿する", class: "btn btn-primary" %>
