<h1>記事一覧</h1>
  <div class="d-flex gap-2 mb-4">
  <%= button_to "記事一覧", posts_path, method: :get, class: "btn btn-primary" %>
  <%= button_to "動画一覧", videos_path, method: :get, class: "btn btn-outline-success" %>
  <%= button_to "クイズ一覧", quiz_questions_path, method: :get, class: "btn btn-outline-warning" %>
</div>

<div id="posts">
  <% @posts.in_groups_of(3, false) do |post_group| %>
    <div class="row">
      <% post_group.each do |post| %>
        <div class="col-md-4 my-3">
          <%= link_to post_path(post) do %>
            <% if post.picture.present? %>
              <%= image_tag(post.picture_url(:thumb), width: '100%') %>
            <% end %>
            <h5 class="mt-2"><%= post.title %></h5>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
